.pets__header {
  position: sticky;
  top: 0;
  left: 0;
  background-color: $color-light-xl;
  z-index: 2;
  
  .wrapper {
    max-width: map-get($width, content);
    width: 100%;
    margin: 0 auto;
    @include row-between;
    padding: 30px 40px;

    .logo {
      
      &__title {
        color: $color-dark-l;
      }

      &__subtitle {
        color: $color-dark-l;
      }
    }

    .list__item {
      color: $color-dark-l;

      &:hover a {
        color: $color-dark-3xl;
      }

      &.active:hover a {
        color: $color-dark-l;
      }
    }

    .hamburger {
      &::before,
      &::after,
      & > .hamburger__line {
        background-color: $color-dark-3xl;
      }

      @include media-mobile {
        margin: 0;
      }
    }

    @include media-tablet {
      padding: 30px;
    }

    @include media-mobile {
      padding: 30px 50px 30px 10px;
    }
  }
}